body {
	margin: 0;
}
/*Style untuk Header utama*/
	.header {
	background-color: lightseagreen;
	height: 135px;
	padding-bottom: 5px;
	width: 100%;
	overflow: hidden;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

/*Style Teks link*/
	.header a {
	float: left;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 25px; 
	line-height: 0.5em;
	border-radius: 4px;
	border-start-end-radius: 2px;
  }
  
  	.header .logo .gambar {
	padding: 5px;
	position: static;
  
  }
  	.header .judul a {
	padding: 50px;
	font-size: 30px;
	text-align: center;
  }

	.header .header-right a:hover {
	background-color: dodgerblue;
	color: white;
	padding: 20px;
  }
    .header-right {
	padding: 50px;
	font-size: initial;
	float: right;
  }
  
  @media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	
	.header-right {
	  float: none;
	}
	.header .judul {
	  float: inline-end;
	  display: block;
	}
  }
  /* Bagian Isi Website*/

body .container h1{
	display: block;
	margin: 30px;
	border: 30px;
	padding: 50px;
}
.container {
	width: 80%;
	height: 500px;
	background-color: lavender;
	font-family: Arial, Helvetica, sans-serif;
  }
  