body {
    line-height: 1;
    margin: auto;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
ol, ul {
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
    content: '';
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/*Style untuk Header utama*/

.header {
	background-color: lightseagreen;
	height: 135px;
	padding-bottom: 5px;
	width: 100%;
	overflow: hidden;
  }

/*Style Teks link*/

.header a {
	float: left;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 25px; 
	line-height: 0.5em;
	border-radius: 4px;
	border-start-end-radius: 2px;
  }
  
.header .logo .gambar {
	padding: 5px;
	position: static;
  
  }
.header .judul a {
	padding: 50px;
	font-size: 30px;
	text-align: center;
  }

.header .header-right a:hover {
	background-color: dodgerblue;
	color: white;
  }

.header-right {
	padding-top: 50px;
	font-size: initial;
	float: right	;
  }
  
  @media screen and (max-width: 500px) {

.header a {
	float: none;
	display: block;
	text-align: left;
	}
	
.header-right {
	float: none;
	}
.header .judul {
	float: inline-end;
	display: block;
	}
  }
  /* Bagian Isi Website*/
.container {
	height: ;
}
body .container h1{
	height: 300px;
	margin: 30px;
	border: 30px;
	padding: 50px;
}
  

/* Bagian footer*/

.bottom-wrapper {
	bottom: 0;
	position: static;

}
section {
	width: 100%;
	bottom: 0;
	display: inline-block;
	background: #333;
	height: 30vh;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	text-decoration: underline;
	min-height: 100%;
    height: 100%; 
  }
  .footer-bawah{
	background: #666;
	position: static;	
	bottom: 0; 
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px verdana;
	padding: 1em 1em;
  }
  
  .footer-bawah .footer-left,
  .footer-bawah .footer-center,
  .footer-bawah .footer-right{
	  display: inline-block;
	  vertical-align: top;
  }
/* Footer left */

.footer-bawah .footer-left{
	width: 40%;
}

/* The company logo */

.footer-bawah h3{
	color:  #ffffff;
	font: normal 50px caption;
	margin: 0;
}

.footer-bawah h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-bawah .footer-links{
	color:  #ffffff;
	margin: 10px 0 12px;
	padding: 0;
	
}

.footer-bawah .footer-links a{
	display:inline-block;
	line-height: 1.8;
	font-weight:600;
	text-decoration: none;
	color:  inherit;
}

.footer-bawah .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-bawah .footer-image{
	background-image: url(footer-banner-contoh.png);
	height: 140px;
	width: 490px;
    background-repeat: no-repeat;
	color: inherit;
}
/* Footer Center */

.footer-bawah .footer-center{
	width: 35%;
}

.footer-bawah .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-bawah .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-bawah .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-bawah .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-bawah .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-bawah .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-bawah .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-bawah .footer-right{
	width: 20%;
}

.footer-bawah .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-bawah .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-bawah .footer-icons{
	margin-top: 25px;
}

.footer-bawah .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 2px;
}
